.container{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
}
.wrapperBox{
    width: 80%;
    min-height:70%;
    box-shadow: 0px 1.52532px 6.86392px rgba(23, 73, 142, 0.6);
    border-radius: 15.2532px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: relative;
}
.accordingContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.departements{
    padding-left: 10px;
    margin-top: 10px;
}
.departement{
    justify-content: space-between;
    align-items: center;
}
.departementsTitleWrapper{
    column-gap: 10px;
    align-items: center;
}

.directionsWrapper{
    height: 400px;
    overflow-y: auto;
    
    padding-top: 10px;
}
.directionsWrapper::-webkit-scrollbar{
    width: 4px;
   
}
.directionsWrapper::-webkit-scrollbar-track{
    background-color: rgba(23, 73, 142, 0.1);
    border-radius: 10px;
}
.directionsWrapper::-webkit-scrollbar-thumb{
    background-color: rgba(23, 73, 142, 0.4);
    border-radius: 10px;
}

.departementsWrapper{
    overflow-y:scroll;
    height:200px;
}
.departementsWrapper::-webkit-scrollbar{
    width: 4px;
   
}
.departementsWrapper::-webkit-scrollbar-track{
    background-color: rgba(23, 73, 142, 0.1);
    border-radius: 10px;
}
.departementsWrapper::-webkit-scrollbar-thumb{
    background-color: rgba(23, 73, 142, 0.4);
    border-radius: 10px;
}