.container{
    width: 100%;
    height: calc(100% - 60px);
    display: grid;
    grid-template-rows: 10% auto;

}
.contentWrapper{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-items: center;
   
}
.middleCard{
    display: flex;
    flex-direction: column;
    gap:58px;
}