.container{
    width: 436px;
    min-height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 1.52532px 6.86392px rgba(23, 73, 142, 0.6);
    border-radius: 15.2532px;
    padding: 10px 20px;
    margin: 40px auto;
    position: relative;

}
.title{
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28.9198px;
    line-height: 43px;
    
    color: #1E1D1D;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
}