.container{
    width: 241px;
    height: 128.13px;
    background: #FFFFFF;
    box-shadow: 0px 1.52532px 6.86392px rgba(23, 73, 142, 0.2);
    border-radius: 15.2532px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13.3333px;
    color: #807D7D;
    margin-left: 8px;
    margin-top: -4px;

}
.numUsers{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26.67px;
    color: rgba(65, 62, 62, 0.89);
}
.percentages{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.percentage{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.percentage > span{
    color:rgba(65, 62, 62, 0.89);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
}

.expandedCard{
    width: 100vw;
    height:100vh;
    background: #FFFFFF;
    box-shadow: 0px 1.52532px 6.86392px rgba(23, 73, 142, 0.3);
    border-radius: 15.2532px;

    cursor: pointer;
    position: absolute;
   
    top:0;
    left:0;
    padding: 20px;

    z-index: 9;
  
  }
 
  .chartContainer{
    width: 100%;
    height:90%;
    display: flex;
    justify-content: center;
    padding-left: 0;
  
    
}