.container{
    width: 500px;
    background-color: white;
    color: #171717;
    box-shadow: 0px 1.52532px 6.86392px rgba(23, 73, 142, 0.6);
    border-radius: 15.2532px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.formWrapper{
    padding: 10px;
}
.formWrapper  h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #34454C;
}
.textField{
   
    width: 297px;

}
.input{
    border-radius: 5px;
    width: 297px;
  
   
}
.forgotPassword a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #807D7D;
}
.forgotPassword a:hover{
    text-decoration: underline;
}


.content{

}
.content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    width: 299px;
    margin:10px 0; 
    color: #807D7D;

}
.actionButtons{
    justify-content: center;
    column-gap: 30px;
}

