.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

.rightWrapper{
 display: flex;
 justify-content: center;
 align-items: center;
 border-left: 2px solid #17498e33;
}
.rightWrapper{
    overflow: hidden;
}
.rightWrapper img{
    object-fit: contain;
    width: 80%;
    height: 80%;
    
    
}

@media screen and (max-width: 768px) {
    .rightWrapper{
        display: none;
        overflow: auto;
    }
    .container{
        grid-template-columns: 1fr;
    }
   
}
.logo{
    width: 88px;
    height: 88px;
    padding-left: 20px;
   
}
.logo > img {
    width: inherit;
    height: inherit;
}
.formWrapper{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 88px);
}
.formWrapper > form{
    
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}
.formWrapper > form > h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #34454C;
}
.textField{
   
    width: 297px;

}
.input{
    border-radius: 5px;
    width: 297px;
  
   
}
.forgotPassword a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #807D7D;
}
.forgotPassword a:hover{
    text-decoration: underline;
}