.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
@media screen and ( max-width:1200px) {
    .container{
        justify-content: flex-start;
        margin-top: 2rem;
}
}