.container{
    display: flex;
    gap:10px;
    width: 100%;

}



@media screen and ( max-width: 1200px){
    .container{
        flex-direction: column;

    }
}

@media screen and ( max-width: 768px){
 
    .container{
        width: 90%;
    }
    
  
  }
  